@media(max-width: 28em) {
    .blog-card-container {
        max-width: 32.7rem;
    }

    .blog-card-title {
        font-size: 2rem;
    }

    .blog-text {
        font-size: 1.4rem;
        line-height: 1.4;
    }

    .date-published {
        font-size: 1.2rem;
    }
}